// Using Tabs

.tabs-col {
    display: contents;
  
    a {
      display: flex !important;
  
      &:hover {
        color: white;
        z-index: 1;
        background-color: #007bff;
        /* transform: scale(1.3); */
        /* transition: all 1s ease-in-out; */
        margin-right: -50px;
  
        span {
          color: white;
          display: block;
          padding-left: 10px;
        }
      }
  
      span {
        display: none;
      }
    }
  }
  
  /* a.active {
      z-index: 1;
      background-color: #007bff;
      transform: scale(1.3);
      transition: all 1s ease-in-out; 
      margin-right: -50px
  }
  
  a.active span {
      display: block;
      padding-left: 10px;
  } */
  