<div class="container">
  <div class="row">
      <div class="tabs-col col">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link nav-hover active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                  role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-university"
                      aria-hidden="true"></i> <span> home </span></a>
              <a class="nav-link nav-hover" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                  role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa fa-university"
                      aria-hidden="true"></i> <span> home </span></a>
              <a class="nav-link nav-hover" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                  role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fa fa-university"
                      aria-hidden="true"></i> <span> home </span></a>
              <a class="nav-link nav-hover" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                  role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa fa-university"
                      aria-hidden="true"></i> <span> home </span></a>
          </div>
      </div>
      <div class="col" style="border: 1px solid;">
          <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                  aria-labelledby="v-pills-home-tab"> a </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                  aria-labelledby="v-pills-profile-tab"> b </div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                  aria-labelledby="v-pills-messages-tab"> c </div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                  aria-labelledby="v-pills-settings-tab"> d </div>
          </div>
      </div>
  </div>
</div>