<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-home></app-home> -->

<div class="container">
  <div class="row">
    <div class="col menu-col">
      <nav class="menu-nav">
        <a routerLink="/home" routerLinkActive="active"><i class="fa fa-university" aria-hidden="true"></i> <span> home
          </span></a>
        <a routerLink="/users" routerLinkActive="active"><i class="fa fa-university" aria-hidden="true"></i> <span>
            users
          </span></a>
        <a routerLink="/profile" routerLinkActive="active"><i class="fa fa-university" aria-hidden="true"></i> <span>
            profile
          </span></a>
        <a routerLink="/contact" routerLinkActive="active"><i class="fa fa-university" aria-hidden="true"></i> <span>
            contact
          </span></a>
      </nav>
    </div>
    <div class="col"> 
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
