<div class="row">
  <div class="col-sm-12">
    <!-- <input type="text" name="filter" id="filter" /> -->
    <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
 
  </div>
  <div class="col-sm-12">
    <table>
      <thead>
        <tr>
          <th>UserId</th>
          <th>Id</th>
          <th>Title</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contant of contacts | filter : 'title' : searchString; let i = index">
          <td> {{ contant.userId }}</td>
          <td> {{ contant.id }}</td>
          <td> {{ contant.title }}</td>
          <td> {{ contant.completed }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
